<h2>Add a bookmark</h2>

<%= form_for bookmark do |f| %>
  <section>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= render "application/form/errors",
      errors: bookmark.errors.messages[:title] %>
  </section>

  <section>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>

    <%= render "application/form/errors",
      errors: bookmark.errors.messages[:url] %>
  </section>

  <section class="controls">
    <%= link_to "Cancel", :back, class: "cancel" %>
    <%= f.submit "Save", class: "button button-green" %>
  </section>
<% end %>
